* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 155, 253);
}

h1{
    margin-bottom: 50px;
    text-decoration: underline;
}

.secondCounter-Box {
    border: 2px solid rgb(12, 1, 62);
    border-radius: 8px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(131, 223, 223);
    box-shadow: 4px 4px 0.4rem rgb(62, 0, 55);
}

.timeSection {
    /* margin: 30vh 0 0 42vw; */
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(87, 0, 0);
    border-radius: 5px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: white;
}

p {
    font-size: 3em;
    margin: 0 0.5vw 0 0.5vw;
}

/* start button is here */
.startButton {
    padding: 10px;
    background-color: blueviolet;
    color: white;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 4px rgb(117, 117, 117);
    margin: 0 0.5vw;
    font-weight: bolder;
}

.startButton:hover {
    background-color: blueviolet;
    cursor: pointer;
}

.startButton:active {
    background-color: blueviolet;
    transform: translateY(2px);
    box-shadow: 0 2px rgb(32, 32, 32);
}

/* pause button is here */
.pauseButton {
    padding: 10px;
    background-color: rgb(174, 138, 5);
    color: white;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 4px rgb(117, 117, 117);
    margin: 0 0.5vw;
    font-weight: bolder;
}

.pauseButton:hover {
    background-color: rgb(174, 138, 5);
    cursor: pointer;
}

.pauseButton:active {
    background-color: rgb(174, 138, 5);
    transform: translateY(2px);
    box-shadow: 0 2px rgb(32, 32, 32);
}

/* reset button is here */

.resetButton {
    padding: 10px;
    background-color: rgb(1, 127, 254);
    color: white;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 4px rgb(117, 117, 117);
    margin: 0 0.5vw;
    font-weight: bolder;
}

.resetButton:hover {
    background-color: rgb(1, 127, 254);
    cursor: pointer;
}

.resetButton:active {
    background-color: rgb(1, 127, 254);
    transform: translateY(2px);
    box-shadow: 0 2px rgb(32, 32, 32);
}

/* buttonSection is here */

/* .buttonSection{
    margin: 6vh 0 0 42vw;
} */